## Compiled python files and cache
*.pyc
__pycache__

## Exclude Cobe brains
cobe.brain
cobe.brain-journal

## Backups made by gedit

*.*~

## Exclude databases and log files

*.db
*.log

## Sublime tags

.tags
.tags_sorted_by_file
